* {
    margin: 0;
    padding: 0;
    
    font-family: "poppins", sans-serif;
}

.bdy {
    min-height: 100vh;
    background-color: rgb(216, 207, 196);
}

.bdy,
.time,
.leftside,
.rightside{
    display: flex;
    align-items: center;
    justify-content: center;

}

.rightside {
    flex-direction: column;

}

.DigitalClock{
    background-color: black;
    color: #fafafa;
    padding: 20px 40px;
    width: 450px;
    border-radius: 400px;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.5);
}

#hours {
    font-size: 6rem;
    font-weight: 600;
}

#dots {
    font-size: 4rem;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 20px;
}

#minutes {
    font-size: 4rem;
    font-weight: 600;

}

#seconds {
    font-size: 1.5rem;
    font-weight: 600;
}

#ampm {
    font-size: 1rem;
    font-weight: 600;
    color: yellow;
}

.rightbottom {
    margin-left: 54px;
    transform: translateY(-17px);

}
.day, .date {
    display: flex;
    align-items: center;
    justify-content: center;

}

#ddmmyy, #dd {
    font-size: 1.5rem;
    font-weight: 300;
}

#heading {

    font-family: 'lato';
    font-size: 4rem;
    font-weight: 400;
    color: #2e8032;
    background-color: rgb(216, 207, 196);
    text-align: center;
    position: relative;
    top: 65px;
    background-color: rgb(240, 241, 224);
    border-radius: 20px;
    text-shadow: 12px 12px 24px rgb(170, 155, 89);
    box-shadow: 20px -2px 24px rgb(124, 87, 87);

}

body {
    background-color: rgb(216, 207, 196);
}